@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&family=IBM+Plex+Mono:wght@400;500;600;700&family=Lato:wght@400;700&family=Merriweather:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container{
    display: flex;
    width: 100%;
}

.lado-1{
    background-color: #F7FAFC;
    width: 50vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.conteudo-login p{
    font: 400 1rem 'Merriweather', sans-serif;
    margin-bottom: 0.438rem;
    color: #1A202C;
}

h1{
    font: 700 1.75rem 'Merriweather', sans-serif;
    margin-bottom: 2.438rem;
    color: #1A202C;
}

form{
    display: flex;
    flex-direction: column;
    font: 400 0.875rem 'Lato', sans-serif;
    color: #1A202C;
}

form label{
    font: 400 1rem 'Lato', sans-serif;
    margin-bottom: 11px;
    color: #1A202C;
}

form input{
    width: 350px;
    height: 50px;
    padding: 10px;
    margin-bottom: 11px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
}

.checkbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}


.checkbox label{
    margin-left: 11px;
    font: 400 1rem 'Lato', sans-serif;
    color: #1A202C;
}

.checkbox a{
    text-decoration: none;
    color: #2B6CB0;
    font: 400 1rem 'Lato', sans-serif;
}

.checkbox-input{
    display: flex;
    align-items: center;
    
}

.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: #04C45C;
}

.buttons{
    margin-top: 2rem;
}

button{
    width: 21.688rem;
    height: 3.125rem; 
    border-radius: 5px;
    border: none;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 700 1rem 'Lato', sans-serif;
  
}

button:hover{
    cursor: pointer;
}

.btn-entrar{
    background-color: #04C45C;
    color: white;

}

.btn-google{
    background-color: #1A202C;
    color: white;
}

.btn-google img{
    margin-right: 0.625rem;
}

.cadastro{
    font: 400 1rem 'Lato', sans-serif;
    position: absolute;
    bottom: 1.25rem;
    color: #1A202C;
}

.cadastro:hover{
    cursor: pointer;
}

.cadastro a{
    color: #2B6CB0;
}

@media (max-width: 912px){
    .lado-1{
        display: none;
    }

    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
    }
    
    .cadastro{
        bottom: 0;
    }
}

@media (max-width: 350px){
   .lado-1{
    display: none;
   }

   .login{
    max-width: 100%;
   }

   .conteudo-login{
    max-width: 90%;
   }

   input{
    max-width: 100%;
   }

   button{
    max-width: 100%;
   }

   .cadastro{
    max-width: 100%;
    bottom: 0;
   }
   
}